{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Upload Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>******</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
    <p>
        <form action="">
        <input type="file" id="myFile" name="filename">
        <input type="submit">
    </form>
    <p>
</div>
{% endblock %}